<section class="login">
  <h1>Exam<strong>Machine</strong></h1>
  <h2>Your new favorite web app</h2>
  <hr />
  
  <label for="user">Username</label>
  <input #loginUser (keyup.enter)="checkUser(loginUser.value, loginPass.value)" type="text" name="user" />

  <label for="pass">Password</label>
  <input #loginPass (keyup.enter)="checkUser(loginUser.value, loginPass.value)" type="password" name="pass" />

  <button (click)="checkUser(loginUser.value, loginPass.value)">Log In</button>
  <hr />
  <p>New to ExamMachine? <a [routerLink]="['/signup']">Sign up!</a></p>
</section>
