section {
  margin: 0 auto;
  margin-top: 50px;
  width: 250px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 0;
  color: #29AAA0;
}

h2 {
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  text-align: left;
  width: 100%;
  opacity: .7;
  color: white;
  padding: 0;
  margin: 0 0 5px 0;
}

input {
  color: white;
  width: 100%;
  margin: 5px 0 10px 0;
}

button {
  margin: 30px;
  width: 120px;
}

.hide {
  opacity: 0;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

.show {
  opacity: 1;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}
