.signup {
  margin: 0 auto;
  margin-top: 30px;
  padding: 25px 10px 25px 10px;
  width: 270px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .4);
}

strong {
  font-weight: bold;
}

.signup h1 {
  padding: 0;
  margin: 0 0 15px 35px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  width: 100%;
}

.signup label {
  margin: 10px 0 10px 0;
  opacity: .7;
  font-weight: normal;
}

.signup sup {
  opacity: .7;
}

.signup sup:hover {
  cursor: pointer;
}

.signup input {
  width: 200px;
  padding: 5px;
  color: white;
  text-align: center;
  border: 0;
  background: none;
  border-bottom: 1px solid white;
  opacity: .5;
}

.signup input:focus {
  background: none;
  outline: none;
  opacity: 1;
}

.signup input:active {
  background: none;
  opacity: 1;
}

.signup button {
  margin: 20px 0 20px 0;
  border: 0;
  color: teal;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  width: 70px;
  background-color: rgba(255, 255, 255, .5);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

.signup button:hover {
  color: white;
  background-color: orange;
  cursor: pointer;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

.signup a {
  color: white;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

.signup a:hover {
  color:teal;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}
