<section class="signup">
  <h1>Sign up for Exam<strong>Machine</strong></h1>
  <p>
    <label for="name">Your name</label>
    <sup>?</sup>
  </p>

  <input #newName (keyup.enter)="sendUserData(newName.value, newEmail.value, newPass.value)" type="text" name="name" />

  <p>
    <label for="user">E-mail address</label>
    <sup>?</sup>
  </p>

  <input #newEmail (keyup.enter)="sendUserData(newName.value, newEmail.value, newPass.value)" type="text" name="user" />

  <p>
    <label for="pass">Pick a password</label>
    <sup>?</sup>
  </p>

  <input #newPass (keyup.enter)="sendUserData(newName.value, newEmail.value, newPass.value)" type="password" name="pass" />

  <!-- <p>
    <label for="pass-again">Retype password</label>
    <sup>?</sup>
  </p>

  <input #rePass (blur)="checkPass(newPass.value, rePass.value)" type="password" name="pass-again" /> -->

  <button (click)="sendUserData(newName.value, newEmail.value, newPass.value)">Sign up</button>
  <!-- <button [routerLink]="['/']">Sign up</button> -->
</section>
