section {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  width: auto;
  background-color: #CCCCCC;
}

nav {
  width: 250px;
  height: calc(100vh - 50px);
  background-color: #313131;
  padding: 20px;
  overflow: hidden;
}

li {
  list-style-type: none;
}

h1 {
  color: white;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 20px 0;
  padding: 0;
}

article {
  padding: 20px;
  width: auto;
  color: #313131;
}
