<nav class="sidenav">
  <h1 class="navi-name">Hi, <strong>{{name}}</strong>!</h1>
  <a (click)="navigate('/cohorts')" class="nav-link">Cohorts</a>
  <a (click)="navigate('/classes')" class="nav-link">Classes</a>
  <a (click)="navigate('/students')" class="nav-link">Students</a>
  <a (click)="navigate('/exams')" class="nav-link">Exams</a>
</nav>
<article>
  <app-unassigned #assign *ngIf="unassignedParent.length > 0" (update)="reRender($event)"></app-unassigned>
  <router-outlet></router-outlet>
</article>
