h1 {
  color: #313131;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 22px;
  line-height: 22px;
}

h2 {
  color: #313131;
  opacity: .7;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  margin: 0 0 20px 0;
}

.add {
    margin-top: 30px;
}

.datagrid-cell {
  padding: 5px;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
}

.centered {
  text-align: center;
}

.container {
  width: 30%;
  margin-left: 0;
  padding-left: 0;

}
