<section>
  <h1>Classes</h1>

  <button class="btn btn-primary add" (click)="opened = true">Add new class</button>

  <clr-datagrid>
    <clr-dg-column [clrDgField]="'class'">Class name</clr-dg-column>
    <clr-dg-column [clrDgField]="'cohort'">Cohort name</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *ngFor="let class of classes; let i = index">
      <clr-dg-cell>{{class.name}}</clr-dg-cell>
      <clr-dg-cell>{{class.cohort}}</clr-dg-cell>
      <clr-dg-cell class="centered">
        <button class="btn btn-link modify">Edit</button>
        <button class="btn btn-link modify" (click)="removeClass(i)">Delete</button>
      </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{classes.length}} classes</clr-dg-footer>
  </clr-datagrid>

  <clr-modal [(clrModalOpen)]="opened">
    <div class="modal-body">
      <div class="select">
        <select  #cohortName id="exampleSelect1">
          <option *ngFor="let cohort of cohorts">{{cohort.name}}</option>
        </select>
      </div>
      <input #className type="text" (keyup.enter)="opened = false" (keyup.enter)="addNewClass(className, cohortName.value)" placeholder ="Class name"/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="opened = false" (click)="addNewClass(className, cohortName.value)">Add</button>
    </div>
  </clr-modal>
</section>
