<section>
  <h1>Classes</h1>

  <button class="btn btn-primary add" (click)="opened = true">Add new class</button>

  <clr-datagrid>
    <clr-dg-column [clrDgField]="'class'">Class name</clr-dg-column>
    <clr-dg-column [clrDgField]="'cohort'">Cohort name</clr-dg-column>
    <clr-dg-column>Actions</clr-dg-column>

    <clr-dg-row *clrDgItems="let class of classes; let i = index">
        <clr-dg-cell>{{class.class_name}}</clr-dg-cell>
        <clr-dg-cell>{{class.cohort_name}}</clr-dg-cell>
        <clr-dg-cell class="centered">
          <button class="btn btn-link modify" (click)="edit_modal = true">Edit</button>
          <button class="btn btn-link modify" (click)="setClassForDelete(class.class_name)" (click)="active = true">Delete</button>
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>classes</clr-dg-footer>
  </clr-datagrid>

  <clr-modal [(clrModalOpen)]="opened">
    <div class="modal-body">
        <div class="select">
          <select  #barmi id="exampleSelect2" (click)="showID(barmi)" >
            <option *ngFor="let cohort of cohorts">
              {{cohort.cohort_name}}
            </option>
          </select>
        </div>
        <input #className type="text" (keyup.enter)="opened = false" (keyup.enter)="addNewClass(className, cohortId)" placeholder ="Class name"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="opened = false" (click)="addNewClass(className, cohortName.value)">Add</button>
    </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="active">
      <div class="modal-body">
        <p>
          Are you sure you want to delete the class: {{classToDelete}}
        </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="active = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="active = false" (click) = "deleteClass()">Yes</button>
      </div>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="edit_modal">
      <div class="modal-body">
        <select  #cohortName id="exampleSelect2">
          <option *ngFor="let cohort of cohorts">{{cohort.cohort_name}}</option>
        </select>
        <input #className type="text" (keyup.enter)="opened = false" (keyup.enter)="addNewClass(className, cohortName.value)" placeholder ="Class name"/>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="edit_modal = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="edit_modal = false" (click) = "deleteClass()">Yes</button>
      </div>
  </clr-modal>
</section>
