header {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  width: 100%;
  min-width: 550px;
  height: 50px;
  color: white;
  background-color: #007CBB;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

strong {
  font-weight: bold;
}

h1 {
  padding: 0;
  margin: 0 0 0 25px;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
  color: white;
  width: 100%;
}

.btn-outline {
  border-color: white;
  min-width: 100px;
  color: white;
}

.btn-outline:hover {
  color: #007CBB;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
}
