section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 2em;
}

article {
  margin: 1em;
  padding: 1em;
  width: 500px;
  color: teal;
  background-color: rgba(255, 255, 255, .4);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

article:hover {
  background-color: rgba(255, 255, 255, .7);
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-left: 1em;
}

h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 1em 1em 2em 2em;
  display: inline-block;
}

hr {
  width: 450px;
  height: 1px;
  align-self: center;
  border: 0;
  background-color: teal;
}
